<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 附加props配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
    <!-- 配置数据源 -->
	<bean id="firstdataSource" class="org.apache.commons.dbcp2.BasicDataSource">
			<property name="driverClassName" value="${db.driverClassName}" />
			<property name="url" value="${db.url}" />
			<property name="username" value="${db.username}" />
			<property name="password" value="${db.password}" />
			<!-- 最大连接数 -->
			<property name="maxTotal" value="${maxTotal}"/>
			<!-- 最大空闲连接数 -->
			<property name="maxIdle" value="${maxIdle}"/>
			<!-- 初始化连接数 -->
			<property name="initialSize" value="${initialSize}"/>
	</bean>
	<!-- 配置第二个数据源 -->
	<bean id="seconddataSource" class="org.apache.commons.dbcp2.BasicDataSource">
			<property name="driverClassName" value="${seconddb.driverClassName}" />
			<property name="url" value="${seconddb.url}" />
			<property name="username" value="${seconddb.username}" />
			<property name="password" value="${seconddb.password}" />
			<!-- 最大连接数 -->
			<property name="maxTotal" value="${maxTotal}"/>
			<!-- 最大空闲连接数 -->
			<property name="maxIdle" value="${maxIdle}"/>
			<!-- 初始化连接数 -->
			<property name="initialSize" value="${initialSize}"/>
	</bean>
	<bean id="dataSource" class="utils.DynamicDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <!-- 指定lookupKey和与之对应的数据源，这里的key可以自行定义，要切换数据库的时候以key为标识，不要写错 -->
                <entry key="firstdataSource" value-ref="firstdataSource"></entry>
                <entry key="seconddataSource" value-ref="seconddataSource"></entry>
            </map>
        </property>
        <!-- 这里可以指定默认的数据源 -->
        <property name="defaultTargetDataSource" ref="firstdataSource" />
    </bean>
    
    
	<!-- 添加事务支持 -->
	<bean id="txManager"   
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">   
        <property name="dataSource" ref="dataSource" />   
    </bean> 
    <!-- 开启事务注解-->
	<tx:annotation-driven transaction-manager="txManager" />
 	<!-- 配置MyBatis工厂，同时指定数据源，并与MyBatis完美整合 -->  
 	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <!-- configLocation的属性值为MyBatis的核心配置文件 -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
    </bean>  
	<!--Mapper代理开发，使用Spring自动扫描MyBatis的接口并装配
 	（Spring将指定包中所有被@Mapper注解标注的接口自动装配为MyBatis的映射接口）  --> 
     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
     	<!-- mybatis-spring组件的扫描器 -->
     	<property name="basePackage" value="dao"/>
     	<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
     </bean>
</beans>
