@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	background:url("../images/w1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.findPwd_body{
	width: 650px;
    height: 370px;
    position: relative;
    left: 200px;
    top: 250px;
    background-color: white;
    opacity: 0.9;
    box-shadow: 2px 2px 10px #909090;
 
}
.findPwd_center{
    margin:25px 35px;
    background-color: white;
    position: absolute;
    width:610px;
}
.left{
	float:left;
	height: 40px;
	line-height:40px;
	margin-right:20px;
	width:70px;
}
.findPwd_top{
    height: 22px;
    line-height: 22px;
    font-size: 22px;
    color: #3c3c3c;
    font-weight: 700;
    margin: 10px 0;
}
.username,.newPwd{
    height: 40px;
    margin-top:30px;
}

.username input,.verify input,.newPwd input{
    height: 40px;
    float: left;
    border: 1px #cccccc solid;
    width: 260px;
    padding-left: 8px;
    font-size:16px;
}


.verify{
	height:40px;
	margin-top:20px;
}

.verify input{
    width: 160px;
}

#verifyCodeBtn{
	height:40px;
	width:150px;
	float:left;
	margin-left:10px;
	font-size:15px;
}


.login_btn a{
	float:left;
	width: 180px;
    height: 45px; 
    background-color: #909090;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    cursor:pointer;
    color: white;
	text-decoration: none;
	font-size: 16px;
	margin-top: 30px;
	line-height:45px;
	
}

.findPwd_btn input{
	float:left;
	align-content: center;
	color: white;
	background-color: #909090;
	width: 180px;
    height: 45px;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: 700;
    cursor:pointer;
    font-size: 16px;
    margin-left:90px;
    margin-right:30px;
}

.findPwd_btn input:hover{
	background-color:#696969;
}

.login_btn a:hover{
	background-color:#696969;
}


.login_findPwd{
	float:right;
	font-size:14px;
	text-decoration:underline;
}
.errorInfo{
	height:40px;
	line-height:40px;
	margin-left:10px;
	color:red;
	float:left;
}