<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AnswerDao">
	<select id="getAllByQuestionId" resultType="AnswerResult">
		select answerId,questionId,text,likeNum,t_answer.userId as userId,penName,headPicPath,inputTime
		from t_answer inner join t_normaluser on t_answer.userId=t_normaluser.userId
		where questionId=#{questionId}
		order by inputTime desc
	</select>
</mapper>