<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AttentionDao">
	<insert id="add">
		insert into t_attention(attentionId,userId,beAttentedId,attentedTime)
		values(null,#{userId},#{beAttentedId},null)
	</insert>
	
	<delete id="delete">
		delete from t_attention where userId=#{userId} and beAttentedId=#{beAttentedId}
	</delete>
	
	<select id="getByUserId" resultType="Attention">
		select * from t_attention where userId=#{userId} order by attentedTime desc
	</select>
	
	<select id="getByBeAttentedId" resultType="Attention">
		select * from t_attention where beAttentedId=#{beAttentedId} order by attentedTime desc
	</select>
	
	<select id="getByUserIdAndAttentedId" resultType="Attention">
		select * from t_attention where beAttentedId=#{beAttentedId} and userId=#{userId}
	</select>
</mapper>