<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.AuthorDao">
	<select id="getAll" resultType="Author">
		select * from t_poems_poet;
	</select>
	<select id="getByAuthorId" resultType="Author">
		select * from t_poems_poet where id=#{id}
	</select>
	<select id="getByAuthorName" resultType="Author">
		select * from t_poems_poet where name like concat('%',#{name},'%')
	</select>
	<select id="getByDynastyId" resultType="Author">
		select * from t_poems_poet where dynastyid=#{dynastyid}
	</select>

	<insert id="add" parameterType="Author">
		insert into t_poems_poet(id,uid,name,name_zi,name_hao,gender,birthday,deathday,dynastyid,intro,masterwork)
		values(null,null,#{name},#{name_zi},#{name_hao},#{gender},#{birthday},#{deathday},#{dynastyid},#{intro},#{masterwork})
	</insert>
	<delete id="delete"> 
		delete from t_poems_poet where id=#{id}
	</delete>
	<update id="update">
		update t_poems_poet
		set name=#{name},name_zi=#{name_zi},name_hao=#{name_hao},gender=#{gender},birthday=#{birthday},deathday=#{deathday},dynastyid=#{dynastyid},intro=#{intro},masterwork=#{masterwork}
		where id=#{id}
	</update>
</mapper>