<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CommentDao">
	<delete id="delete">
		delete from t_comment where commentId=#{commentId}
	</delete>
	<insert id="add" parameterType="Comment">
		insert into t_comment(commentId,commentText,inputTime,userId,workId)
		values(null,#{commentText},null,#{userId},#{workId})
	</insert>
	<select id="getByWorkId" resultType="CommentResult">
		select commentId,commentText,inputTime,t_comment.userId,workId,penName,headPicPath,userName
		from t_comment inner join t_normaluser on t_comment.userId = t_normaluser.userId
		where workId=#{workId} order by inputTime desc
	</select>
	<select id="getByCommentId" resultType="Comment">
		select * from t_comment where commentId=#{commentId}
	</select>
	<select id="getAll" resultType="CommentResult">
		select commentId,commentText,inputTime,t_comment.userId,workId,penName,headPicPath,userName
		from t_comment inner join t_normaluser on t_comment.userId = t_normaluser.userId
	</select>
</mapper>