<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.NormalUserDao">
	<select id="getByUserNameAndPwd" resultType="NormalUser">
		select * from t_normaluser where userName=#{userName} and password=#{password}
	</select>
	
	<select id="getByUserName" resultType="NormalUser">
		select * from t_normaluser where userName=#{userName}
	</select>
	
	
	
	

	<insert id="add" parameterType="NormalUser">
		insert into t_normaluser(userId,userName,penName,password,headPicPath,personalizedSig,sex,birth,disableTime,rewardPoints)
		values(null,#{userName},#{penName},#{password},#{headPicPath},#{personalizedSig},#{sex},#{birth},#{disableTime},#{rewardPoints})
	</insert>
	
	<update id="update" parameterType="NormalUser">
		update t_normaluser
		set penName=#{penName},password=#{password},headPicPath=#{headPicPath},personalizedSig=#{personalizedSig},sex=#{sex},birth=#{birth},disableTime=#{disableTime},rewardPoints=${rewardPoints}
		where userId=#{userId}
	</update>
	
	
	<delete id="delete">
	  delete from t_normaluser where userName=#{userName}
	</delete>
	<select id="getall" resultType="NormalUser">
	    select * from t_normaluser 
	</select>
	
	<select id="getByUid" resultType="NormalUser">
	     select * from t_normaluser where userId=#{userId}
	</select>
</mapper>