<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PoemDao">
	<insert id="add" parameterType="Poem">
		insert into t_poem(poemId,title,userId,text,imgPath,likeNum,isEssay,inputTime)
		values(null,#{title},#{userId},#{text},#{imgPath},#{likeNum},#{isEssay},#{inputTime})
	</insert>
	<delete id="delete">
		delete from t_poem where poemId=#{poemId}
	</delete>
	<select id="getAll" resultType="Poem">
		select * from t_poem
	</select>
	<select id="getByUserId" resultType="Poem">
		select * from t_poem where userId=#{userId}
	</select>
	<select id="getByPoemId" resultType="Poem">
		select * from t_poem where poemId=#{poemId}
	</select>
	<update id="update" parameterType="Poem">
		update t_poem
		set title=#{title},text=#{text},imgPath=#{imgPath}
		where poemId=#{poemId}
	</update>
</mapper>
