<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.Poem_TypeDao">
	<select	id="getByPoemId" resultType="Poem_Type">
		select * from t_poem_theme where poemId=#{poemId}
	</select>
	<select	id="getByThemeId" resultType="Poem_Type">
		select * from t_poem_theme where themeId=#{themeId}
	</select>
	<insert id="add" parameterType="Poem_Type">
		insert into t_poem_theme(ptId,poemId,themeId)
		values(null,#{poemId},#{themeId})
	</insert>
	<delete	id="delete">
		delete from t_poem_theme where ptId=#{ptId}
	</delete>
	<select id="getByPtId" resultType="Poem_Type">
		select * from t_poem_theme where ptId=#{ptId}
	</select>
	<delete id="deleteAll">
		delete from t_poem_theme where poemId=#{poemId}
	</delete>
</mapper>