<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.Poem_ExtDao">
	<select id="getByPoemuid" resultType="Poem_Ext">
		select * from t_poems_poem_ext where poemuid=#{poemuid}
	</select>
	<update id="update" parameterType="Poem_Ext">
		update t_poems_poem_ext
		set engContent=#{engContent},engIntro=#{engIntro},audio=#{audio},vedio=#{vedio},yiwen_audio=#{yiwen_audio},pic=#{pic},appreciation=#{appreciation},background=#{background},version=#{version},analyse=#{analyse},memo=#{memo}
		where id=#{id}
	</update>
	<delete id="delete">
		delete from t_poems_poem_ext
		where poemuid=#{poemuid}
	</delete>
	<insert id="add" parameterType="Poem_Ext">
		insert into t_poems_poem_ext(id,uid,engContent,engIntro,audio,vedio,yiwen_audio,pic,appreciation,background,version,analyse,memo,poemuid)
		values(null,null,#{engContent},#{engIntro},#{audio},#{vedio},#{yiwen_audio},#{pic},#{appreciation},#{background},#{version},#{analyse},#{memo},#{poemuid})
	</insert>
</mapper>