<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ReportDao">	
	<select id="getAll" resultType="ReportInfo">
		select * from t_reportInfo
	</select>
	
	<select id="getByReportId" resultType="ReportInfo">
		select * from t_reportInfo where reportId=#{reportId}
	</select>
	
	<insert id="add" parameterType="ReportInfo">
		insert into t_reportinfo(reportId,userId,beReportedUserId,reportReason,state,inputTime)
		values(null,#{userId},#{beReportedUserId},#{reportReason},0,null)
	</insert>
	
	<update id="update" parameterType="ReportInfo">
		update t_reportinfo
		set state=#{state}
		where reportId=#{reportId}
	</update>
</mapper>