<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ThemeDao">
	<insert	id="add" parameterType="Theme">
		insert into t_theme(themeId,themeNumber,themeName)
		values(null,#{themeNumber},#{themeName})
	</insert>
	<delete id="delete">
		delete from t_theme where themeNumber=#{themeNumber}
	</delete>
	<select	id="getByNumber" resultType="Theme">
		select * from t_theme where themeNumb=#{themeNumber}
	</select>
	<select id="getAll" resultType="Theme">
		select * from t_theme
	</select>
	<update	id="update">
		update t_theme
		set themeNumber=#{themeNumber},themeName=#{themeName}
		where themeId=#{themeId}
	</update>
</mapper>