<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TypeDao">
	<insert id="add" parameterType="Type">
		insert into t_poems_type(id,name,rank,pid,memo)
		values(null,#{name},#{rank},#{pid},#{memo})
	</insert>
	<delete id="delete">
		delete from t_poems_type where id=#{id}
	</delete>
	<select	id="getById" resultType="Type">
		select * from t_poems_type where id=#{id}
	</select>
	<select	id="getAll" resultType="Type">
		select * from t_poems_type;
	</select>
	<select	id="update" parameterType="Type">
		update t_poems_type 
		set name=#{name},rank=#{rank},pid=#{pid},memo=#{memo}
		where id=#{id}
	</select>
</mapper>